.bg-custom{
	background: #2e7d32
}
.navbar .nav-item .nav-link{
	font-size: 20px;
	color: while;
}
.navbar-custom .nav-item:hover .nav-link{
	background: while;
	color: black;
	border-radius: 10px
}
.div-color{
   background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca,
    #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
   height: 500px;
}
.div-detail{
	background-image: linear-gradient(to right top, #78c35b, #9acc78, #b6d496, #cfddb6, #e3e7d8);
}
.lg-color{
	color: rosso;
	border-raduis:10px;
}